body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(20, 0, 20);
}

input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    text-align: center;
}

.mainFrame {
    display: flex;

    flex-direction: column;

}

.playerAndPlayers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2%;
}



.playersFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 180px;
    height: fit-content;
    margin: 5px;
    padding: 10px;

    gap: 5px;
    background-color: rgba(201, 201, 255, 1);

    border-radius: 10px;
}

.playerFrame0,
.playerFrame1,
.playerFrame2,
.playerFrame3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(241, 203, 255, 0.9);
    border: 5px solid rgba(255, 247, 213, 1);
    padding: 15px 6px 20px 6px;
    margin: 5px;
}

#avatarFrame0,
#avatarFrame1,
#avatarFrame2,
#avatarFrame3 {
    width: 100%;
    height: 76px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;

    margin-bottom: 15px;
    align-items: baseline;
}

#avatarFrame0:hover,
#avatarFrame1:hover,
#avatarFrame2:hover,
#avatarFrame3:hover {
    transform: scale(1.5);
    width: 120%;
    background-color: rgba(241, 203, 255, 0.9);
    border: 5px solid rgba(255, 247, 213, 1);
    padding: 5px;
    margin: 5px;
    animation: avatarFrameOpen 150ms ease-in forwards;
}

@keyframes avatarFrameOpen {
    0% {width: 100%;}
    50% {width: 125%;}
    100% {width: 140%;}
}

.avatar0,
.avatar1,
.avatar2,
.avatar3,
.avatar4,
.avatar5 {
    width: 64px;
    height: 64px;
    max-height: 180px;
    border: 4px solid rgba(255, 247, 213, 1);
}


.avatar0:hover,
.avatar1:hover,
.avatar2:hover,
.avatar3:hover,
.avatar4:hover,
.avatar5:hover {
    transform: scale(1.1);
    border: 3px solid rgba(255, 247, 213, 1);
}

.avatarFull0,
.avatarFull1,
.avatarFull2,
.avatarFull3,
.avatarFull4,
.avatarFull5 {
    display: flex;
    justify-content: center;
    align-items: baseline;

    width: 64px;
    height: 64px;
    border: 4px solid rgba(255, 247, 213, 1);
    font-size: x-large;
}

.avatarFull0,
.avatar0 {
    background-color: paleturquoise;
}

.avatarFull1,
.avatar1 {
    background-color: #ffbdbd;
}

.avatarFull2,
.avatar2 {
    background-color: #c9c9ff;
}

.avatarFull3,
.avatar3 {
    background-color: #f1cbff;
}

.avatarFull4,
.avatar4 {
    background-color: #e1f7d5;
}

.avatarFull5,
.avatar5 {
    background-color: pink;
}

.playerName input {
    width: 130px;
    background-color: rgba(255,189,189, 1);    border: 4px outset rgba(255, 247, 213, 1);
    border-radius: 10px;
    color: black;
    font-size: large;
    font-weight: bold;
}

.playerScore span{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: rgba(201, 201, 255, 1);
    padding: 2px;
    border-radius: 10px;
}


.startButton {
    display: flex;
    justify-content: center;
    align-items: baseline;

}
.startButton input {
    width: 10vw;
    border: 4px outset rgba(255, 247, 213, 1);
    border-radius: 10px;
    height: fit-content;
    background-color: rgba(255,189,189, 1);
}



.playerScoreButton input {
    color: black;
    font-weight: bold;
    font-size: large;
    border: 5px outset rgba(255, 247, 213, 1);
    border-radius: 10px;
    background-color: rgba(255,189,189, 1);}


.addressBarWrapper {
    height: fit-content;
    display: flex;
    align-items: baseline;
    justify-content: center;
    border: 5px solid rgba(255, 247, 213, 1);
    background-color: rgba(241, 203, 255, 1);

    
}


.addressBar input {
    width: 50vw;
    height: fit-content;
    background-color: rgba(255,189,189, 1);    border-radius: 10px;
    border: 4px outset rgba(255, 247, 213, 1);

    font-size: 1rem;
    text-align: center;

}

.submitVideoButton {
    width: fit-content;
    border: 4px outset rgba(255, 247, 213, 1);
    background-color: rgba(201, 201, 255, 1);

    border-radius: 10px;
    height: fit-content;
}


#videoWrapper {
    width: 75vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: baseline;
    justify-content: left;
    margin: 10px 0px 0px 0px;
    background-color: rgba(201, 201, 255, 1);
    border: 5px solid rgba(201,201,255, 1);
    border-radius: 10px;
    gap: 10px;

    padding: 10px;

    
}

.ytContainer {
    position: relative;
    padding-bottom: 56.10%;
    height: 0;
    overflow: hidden;
    border: 5px solid rgba(255, 247, 213, 1);
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}